@import url("https://use.typekit.net/tvv5aom.css");

$orange: #fcb633;
$darkOrange: #f37c20;
$blue: #00658b;
$pink: #e0195e;
$green: #aacf37;
$lightBlue: #00afbd;
$darkBlue: #2e394d;

$proximaNovaThin: proxima-nova, sans-serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
	font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  	Helvetica, Arial, "Lucida Grande", sans-serif;
  	h1 {
  		font-weight: 800;
  		font-size: 4em;
  	}
  	
  	#mainHead {
  	} 
  	#logo {
  		width: 70px;
  		padding: 15px;
  	}
	section {
		position: relative;
	}
	header {
		text-align: left;
		margin-bottom: 10vh;
	}
	
	#header1 {
		height: 100vh;
		width: 100vw;
		background-size: cover;
		color: white;
		text-align: center;
		overflow: hidden;
		.image-bg {
	  		width: 110vw;
	  		height: 80vh;
	  		left: -60px !important;
	  		top: -60px !important;
	  		img {
	  			position:relative;
	  		    object-fit: contain;
	    		width: 100%;
	  	
	  		}
	  	}
	  	.image-front {
	  		width: 110vw;
	  		height: 80vh;
	  		left: -60px !important;
	  		top: -30px !important;
	  		z-index: 10;
	  		img {
	  			position:relative;
	  		    object-fit: contain;
	    		width: 100%;
	  	
	  		}
	  	}
		p {
			font-size: 1.3em;
			line-height: 1.5;
		}
		.content {
			width: 75vw !important;
			margin: 0 auto;
			position: relative;
			top: 20vh;
		}
	}

	
}